body {
  margin: 0;
  font-family: "Roboto",-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body, html, #root {
  height: 100%;
}

.k-animation-container{
  width:100%;
}

.k-radio.blue { color: blue; }

.k-radio.patient-radio { background: white; border-color: grey; box-shadow: none}